@charset "utf-8";
@import "reset";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

$bg-color:          #234;
$primary-color:     #203040;
$secondary-color:   #7fbfff;
$text-color:        #333;
$text-header-color: #ddd;
$content-bg-color:  #fff;

$fonts: 12px/1.5 'Open Sans', Arial, Helvetica, sans-serif;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin paddinglr($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin round-border($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: $fonts;
  color: $text-color;
  background: $bg-color;
}

h1 {
  font-size: 23 / 12 * 100%;
}

h2 {
  font-size: 21 / 12 * 100%;
}

h3 {
  font-size: 17 / 12 * 100%;
}

h4 {
  font-size: 16 / 12 * 100%;
}

h5 {
  font-size: 14 / 12 * 100%;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  margin-left: 30px;
}

.container_960 {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  float: left;
  width: 1 / 3 * 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  background-color: $content-bg-color;
}

.content {
  float: left;
  width: 2 / 3 * 100%;
  box-sizing: border-box;
  padding-left: 10px;

  .section_header {
    background: $primary-color;
    color: $text-header-color;
    padding-left: 5px;
  }

  .content_section {
    background: $content-bg-color;
    padding: 10px;
    margin-bottom: 10px;

    .section_description {
      float: left;
      width: 2 / 3 * 100%;
      box-sizing: border-box;

      p {
        margin-left: 5px;
      }

      ul {
        float: left;
      }

      ul p {
        text-align: justify;
        //margin-left: 0px;
      }
    }

    .section_keys {
      float: right;
      width: 1 / 3 * 100%;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

.aboutme p {
  text-indent: 10px;
  @include paddinglr(5px, 5px);
}

.mapmarker {
  margin-bottom: 10px;

  img {
    @include size(64px, 64px);
  }
}

.info_tag {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 20px;
  font-weight: bold;
  @include round-border(2px);

  span.left {
    float: left;
    text-align: left;
    color: #7FBFFF;
    background-color: $primary-color;
    @include size(50px, 20px);
    @include round-border(2px 0 0 2px);
    @include paddinglr(4px, 5px);
  }

  span.right {
    color: $primary-color;
    background-color: #7FBFFF;
    width: 105px;
    text-align: right;
    float: right;
    display: block;
    position: relative;
    @include paddinglr(14px, 4px);
    @include round-border(0 2px 2px 0);
  }

  span.arrow {
    position: absolute;
    left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $primary-color;
    @include size(0, 0);
  }
}

.mobile {
  display: none;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  @include size(0, 0);
}
