@charset "utf-8";
@import "reset";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

$bg-color:          #234;
$primary-color:     #203040;
$secondary-color:   #7fbfff;
$text-color:        #333;
$text-header-color: #ddd;
$content-bg-color:  #fff;

$fonts: 12px/1.5 'Open Sans', Arial, Helvetica, sans-serif;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin paddinglr($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin round-border($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: $fonts;
  color: $text-color;
  background: $bg-color;
}

h1 {
  font-size: 23 / 12 * 100%;
}

h2 {
  font-size: 21 / 12 * 100%;
}

h3 {
  font-size: 17 / 12 * 100%;
}

h4 {
  font-size: 16 / 12 * 100%;
}

h5 {
  font-size: 14 / 12 * 100%;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  margin-left: 30px;
}

.container_960 {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  float: left;
  width: 1 / 3 * 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  background-color: $content-bg-color;
}

.headerimg {
  @include size(100%, 300px);
  position: relative;
  background: url('../images/Header_Box.jpg');
  background-size: 100% 100%;

  .headerimgcontent {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, .75);
    padding-left: 10px;
    box-sizing: border-box;

    .profdesc {
      font-style: italic;
    }
  }
}

.skillbox {
  width: 100%;
  box-sizing: border-box;
  @include paddinglr(5px, 5px);

  .skill {
    border: 1px solid black;
    background-color: #333;
    margin-bottom: 5px;

    .skillbar {
      color: #fff;
      text-align: right;
      font-weight: bold;
      border-right: 1px solid black;
      padding-right: 5px;
      box-sizing: border-box;
    }
  }
}

.sm_links a {
  text-decoration: none;

  img {
    padding: 1px;
    @include size(32px, 32px);
    @include round-border(6px);
  }

  img:hover {
    background-color: $primary-color;
  }
}

.content {
  float: left;
  width: 2 / 3 * 100%;
  box-sizing: border-box;
  padding-left: 10px;

  .section_header {
    background: $primary-color;
    color: $text-header-color;
    padding-left: 5px;
  }

  .content_section {
    background: $content-bg-color;
    padding: 10px;
    margin-bottom: 10px;

    .section_description {
      float: left;
      width: 2 / 3 * 100%;
      box-sizing: border-box;

      p {
        margin-left: 5px;
      }

      ul {
        float: left;
      }

      ul, p {
        text-align: justify;
        //margin-left: 0px;
      }
    }

    .section_keys {
      float: right;
      width: 1 / 3 * 100%;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

.aboutme p {
  text-indent: 10px;
  @include paddinglr(5px, 5px);
}

.mapmarker {
  margin-bottom: 10px;

  img {
    @include size(64px, 64px);
  }
}

.skills_list {
  width: 25%;
  box-sizing: border-box;
  float: left;
  text-align: left;
}

.notable_projects ul {
  margin-bottom: 5px;
}

.info_tag {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 20px;
  font-weight: bold;
  @include round-border(2px);

  span.left {
    float: left;
    text-align: left;
    color: #7FBFFF;
    background-color: $primary-color;
    @include size(50px, 20px);
    @include round-border(2px 0 0 2px);
    @include paddinglr(4px, 5px);
  }

  span.right {
    color: $primary-color;
    background-color: #7FBFFF;
    width: 105px;
    text-align: right;
    float: right;
    display: block;
    position: relative;
    @include paddinglr(14px, 4px);
    @include round-border(0 2px 2px 0);
  }

  span.arrow {
    position: absolute;
    left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $primary-color;
    @include size(0, 0);
  }
}

.button_expand {
  cursor: pointer;
  cursor: hand;
  width: 90px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  color: $secondary-color;
  background-color: $primary-color;
  @include round-border(2px);
  @include paddinglr(4px, 4px);
  margin-bottom: 5px;
}

.mobile {
  display: none;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  @include size(0, 0);
}

@media only screen and (max-width: 980px) {
  .container_960 {
    width: 640px;
  }

  .sidebar, .content {
    width: 100%;
  }

  .content {
    padding: 0px;
  }

  .sm_links a img {
    @include size(48px, 48px);
    padding: 2px;
  }

  .skillbox {
    float: left;
    width: 50%;
    box-sizing: border-box;
    @include paddinglr(5px, 5px);
  }

  .headerimg {
    width: 100%;
    height: 200px;
    background: url('../images/Header_Rect.jpg');
    background-size: 100% 100%;
  }
}
