!!!
%html{lang: "english"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", 'http-equiv': "X-UA-Compatible"}
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}

    %meta{name: "keywords", content: "Chris, Christopher, Aikman, Chris Aikman, Christopher Aikman, Computer Science, Designer, Web, Application, App, Programmer, Programming"}
    %meta{name: "description", content: "I am a Computer Scientist specializing in web and application programming and design."}
    %meta{name: "MSSmartTagsPreventParsing", content: "TRUE"}
    %meta{name: "rating", content: "General"}
    %meta{name: "MS.LOCALE", content: "EN-US"}
    %meta{name: "robots", content: "index, follow"}
    %meta{name: "revisit-after", content: "31 days"}
    %meta{name: "DC.Coverage.PlaceName", content: "Global"}

    %title Chris Aikman

    %link{rel: "icon", type: "image/png", href: "./images/favicon.png"}

    %link{rel: "stylesheet", href: "./stylesheets/site.css"}
    %script{src: "./javascripts/functions.js"}
    =partial 'google_analytics'
  %body
    = yield
