!!!
%html{lang: "english"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", 'http-equiv': "X-UA-Compatible"}
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}

    %title Chris Aikman

    %link{rel: "icon", type: "image/png", href: "./images/favicon.png"}

    %link{rel: "stylesheet", href: "./stylesheets/site.css"}
    %script{src: "./javascripts/functions.js"}
  %body
    = yield
