I started teaching myself how to program when my family purchased our first computer when I was five years old.
More than twenty years later, I have spent a majority of my time further developing my skills.
After a few introductory programming classes that I took in high school, ending with an AP class on Java, I spent two years studying at Ocean County College and obtained my A.S. degree in Computer Science with a GPA of 3.92.
After graduating, I began using my skills in the professional world while working for Ward Wight Sotheby’s International Realty.
During that time, I aided in several projects that helped the company update their image and recruit new agents to improve their standing as one of the largest real estate agencies in the state of New Jersey.
After a few years, I had the opportunity to continue my education and attended the New Mexico Institute of Mining and Technology, earning my B.S. degree in Computer Science with a GPA of 3.97 and graduating with highest honors.
My successful studies allowed me to work as a summer intern at Sandia National Laboratories.
During my internship, I researched, designed and implemented a design rule checker used to examine the printability of a three-dimensional models.
In addition, I was part of the team that won the 2016 Sandia National Laboratories NWSPRINT competition to design, manufacture, and test a mechanical sensor used to detect launch profiles in missiles.
