.content_section
  .section_header
    %h2 Skills and Proficiencies

  .skills_list
    %b Programming Languages
    %ul
      %li C++
      %li Java
      %li Python
      %li HTML
      %li JavaScript
      %li CSS
      %li PHP
      %li SQL
      %li LaTeX
      %li C#
      %li Assembly
      %li MATLAB

  .skills_list
    %b Programs & Tools
    %ul
      %li Microsoft Office Suite
      %li Adobe CS6 Suite
      %li 3D Studio Max
      %li AutoCAD
      %li MATLAB
      %li Blender
      %li jQuery
      %li d3.js
      %li Creo

  .skills_list
    %b Specific Skills
    %ul
      %li Web Design
      %li Version Control
      %li Database Design
      %li Application Design
      %li Interactive Media Design

  .skills_list
    %b Operating Systems
    %ul
      %li Windows
      %li Linux
      %li Mac
  .clear
